<!doctype html>

<html>

<head>
  <title>Weather App Service</title>

  <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
    {{>header}}

    <div class='container'>

        <div class='content'>

            <h1>{{title}}</h1>

            <p>Provides APIs to pull the weather information for a location.</p>

            <p>Uses MapQuestAPI for fetching the co-ordinates of the location and then uses the co-ordinates to call DarkSkyAPI to fetch the weather information.</p>

            <p>The data is trimmed down into a small subset for use in the frontend.</p>

            <h3>Available routes</h3>
            <table>
                <tr>
                    <th class='left'>Route</th>
                    <th>Method</th>
                    <th>Query Params</th>
                </tr>
                {{#each routes}}
                <tr>
                    <td class='left'><a href='{{this.route}}'>{{ this.route }}</a></td>
                    <td>{{ this.method }}</td>
                    <td>{{ this.params }}</td>
                </tr>
                {{/each}}
            </table>

        </div>

        {{>footer}}

    </div>

    <script type='text/javascript' src='/js/app.js'></script>
</body>

</html>
